@media screen and (max-width: 991px){
.main-nav{
    overflow: initial;
}
.nav-toggle{
    display: block;
}
.navlinks{

    background-color: white;
    position: absolute;
    left: -100%;
    top: 100%;
  width: 100%;
    padding-block: 20px;
        transition: 0.2s ease-in-out;
}
.navlinks.active{
    left: 0;
}
.navlinks ul {
    flex-direction:column;
}

.nav-toggle{
    display: block;
    margin-right: 30px;
}
.examples-area{
    gap: 20px;
}
.example-img{
    height: 200px;
width: calc(50% - 10px);
}
.example-img h3{
font-size: 1rem;

}
.cta-section-container{
   padding-block: 70px; 
}
}

/* -------large-mobile------ */
@media screen and (max-width:767px) {
    
   .features-card {
   min-width: calc(50% - 10px);
   gap: 10px;

} 

.big-features-container {
flex-direction: column;
padding: 30px 25px 0;
align-items: center;
justify-content: center;
}
.feature-left img {
    width: 80%;
  }
.header-section {
    flex-direction: column-reverse;
}

.header-left {
    text-align: center;
    max-width: 100%;}
.button-2{
    text-align: center;
    width: 100%;
}
.get-started-btn{
    margin-top: 1px;
}


.footer-container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.links-column{
    align-items: center;
}

#featureid{
    flex-direction: column-reverse;}
    
}




@media screen and (max-width:479px) {

   .container{ 
    padding-inline: 10px;
   }
  

    h1 {
        font-size: 2rem!important;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }
    .features-card{
        min-width: 100%;
    }
    .big-features-container{

        padding: 20px 40px 0;
    }
    .example-img {
        width: 100%;
    }
    .logos{
        gap: 15px;
    }
   
}